
<div class="row">
    <div class="col-12">
        <h6>Войдите, чтобы использовать функции банка.</h6>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "loginForm" }))
        {
            <div class="form-group">
                <label for="email">Почта</label>
                <input type="text" name="email" value="" class="form-control" id="email" />
            </div>

            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" name="password" value="" class="form-control" id="password" />
            </div>

            <button class="btn btn-outline-warning" type="submit">Войти</button>
        }
    </div>
</div>