@model BankCollection<News>
@{
    ViewBag.Title = "Home Page";

}

@using Domain.ViewModels
@using Infrastructure.Entities

<div class="row">
    <div class="col-lg-9 order-lg-2 mb-3 order-3">
        <div id="news">
            @{ Html.RenderPartial("_News", Model); }
        </div>
        
    </div>
    <div class="col-lg-3 order-lg-3 mb-3 order-1 block">
        @{Html.RenderPartial("~/Views/Account/_Login.cshtml");}
    </div>
</div>
